<div class="col-md-12 mx-auto">

	<div class="card-deck">
		<% if @current_user.desk.present? %>
			<%= link_to "#{t('index.updateSeat')}", edit_user_path(@current_user), :class => "btn btn-info " %>&nbsp;
			<%= link_to "#{t('index.cancelSeat')}", cancel_seat_users_url, :class => "btn btn-info" %>
		<% else %>
			<%= link_to "#{t('index.bookNewSeat')}", edit_user_path(@current_user), :class => "btn btn-info" %>
		<% end %>
	</div>

    <table class="table table-striped">
    	<thead>
			<tr>
				<th scope="col"><%= t('index.name') %></th>
				<th scope="col"><%= t('index.desk') %></th>
				<th scope="col"><%= t('index.from') %>/<%= t('index.to') %></th>
				<th scope="col"></th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.name %></td>
					<td><%= user.desk %></td>
					<td>
						<% if user.from.present? and user.to.present? %>
							<%= format_date(user.from) %> - <%= format_date(user.to) %>
						<% end %>
					</td>
					<td><%= link_to "#{t('index.view')}", user_path(user) %></td>
				</tr>
			<% end %>
		</tbody>

	</table>
        
</div>
           