<div class="col-md-6 mx-auto">

    <div class="card rounded-0 card-deck">

	    <table>
			<tr>
				<th scope="col">Name</th><td>: <%= @user.name %></td>
			</tr>
			<tr>
				<th scope="col">Email</th><td>: <%= @user.email %></td>
			</tr>
			<tr>
				<th scope="col">Desk</th><td>: <%= @user.desk %></td>
			</tr>
			<tr>
				<th scope="col">Date</th><td>: <%= @user.from %> - <%= @user.to %></td>
			</tr>
		</table>
	        
	</div>

	<div class="text-center"><%= link_to "Cancel", users_path, :class => "btn btn-info form-control btn-lg margin-bottom" %></div>

</div>