<div class="col-md-6 mx-auto">

    <div class="card rounded-0 card-deck">

	    <table>
			<tr>
				<th scope="col"><%= t('show.name') %></th><td>: <%= @user.name %></td>
			</tr>
			<tr>
				<th scope="col"><%= t('show.email') %></th><td>: <%= @user.email %></td>
			</tr>
			<tr>
				<th scope="col"><%= t('show.desk') %></th><td>: <%= @user.desk %></td>
			</tr>
			<tr>
				<th scope="col"><%= t('show.date') %></th><td>: <%= @user.from %> - <%= @user.to %></td>
			</tr>
		</table>
	        
	</div>

	<div class="text-center"><%= link_to "#{t('show.cancel')}", users_path, :class => "btn btn-info form-control btn-lg margin-bottom" %></div>

</div>