<!DOCTYPE html>

<html>
    <head>
        <title>HotDesk</title>
        <%= csrf_meta_tags %>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <%= stylesheet_link_tag "bootstrap.min" %>
        <%= javascript_include_tag 'jquery.min' %>
        <%= javascript_include_tag 'bootstrap.min' %>
        <%= stylesheet_link_tag "datepicker" %>
        <%= javascript_include_tag 'bootstrap-datepicker' %>
    </head>

    <body>

        <div class="container py-5">
            <div class="margin-bottom">
                <%= select_tag :locale, options_for_select([["English", "en"], ["Chinese", "zh"]], params[:locale]), :class => "form-control", :id => "locale" %>
                <% if @current_user.present? %>
                    <div class="text-right">
                        <%= I18n.t('global.loggedIn') %>, <%= I18n.t('global.hi') %> <%= @current_user.name %>
                        <%= link_to "#{I18n.t('global.logout')}", logout_url, :class => "btn btn-info" %>
                    </div>
                <% else %>
                    <div class="text-right">
                        <%= link_to "#{I18n.t('global.login')}", login_url, :class => "btn btn-info" %>
                        <%= link_to "#{I18n.t('global.register')}", new_user_url, :class => "btn btn-info" %>
                    </div>
                <% end %>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        <%= yield %>

                    </div>
                </div>
            </div>
        </div>
    </body>

</html>

<script>

    $(document).ready(function(){

        $("#locale").change(function(){
            var url = "<%= request.url %>";
            var path = "<%= request.path %>";

            var split_url = url.split("/<%= params[:locale] %>");
            var value = $(this).val();
            
            if (split_url.length == 2){
                var main_url = split_url[0]+"/"+value+""+split_url[1];
            }else{
                var split_url = url.split(path);
                var main_url = split_url[0]+"/"+value+""+path;
            }

            window.location.replace(main_url);
        });

    });

</script>